.mainheader {
  width: fit-content;
  color: $textcolor;
  margin: 20px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
    background-color: $maincolor;
  }
}