* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: $backgroundcolor;
  padding-left: 25vw;
  position: relative;
  @include media('sm') {
    padding-left: 0;
  }
}
ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
}