.sidebar
  .cont
    .logo: a(href="/"): img(src="images/logo.png", alt="logo")
    ul.nav 
      li: a(href="/") Home
      li: a(href="/about.html") About
      li: a(href="/contact.html") Contact
    include social.pug
