.footer {
  background-color: #1D1C21; 
  padding: 50px;
  @include media('md') {
    margin-left: 30px;
  }
  @include media('sm') {
    margin-left: 0;
  }
  .info {
    flex-direction: column;
    gap: 15px;
    text-align: center;
    margin-bottom: 30px;
    li {
      a {
        display: inline-block;
        padding: 10px;
        color: #888;
        transition: 0.3s;
        &:hover {
          color: $textcolor;
        }
      }
      &:first-child a {
        color: $textcolor;
        font-weight: 400;
      }
    }
  }
}